body {
  background-color: #fff;
  margin: 0;
  font-family: helvetica;
}

.content {
  max-width: 1024px;
  width: 100%;
  padding: 7% 4%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #f7c48dd6;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9b35), color-stop(40%, #ffb36bf7), color-stop(60%, rgba(255, 255, 255, 0.473)));
  background: linear-gradient(90deg, #ff9b35 0%, #ffb36bf7 40%, rgba(255, 255, 255, 0.473) 60%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card:hover {
  height: 270px;
}

.card:hover .info {
  height: 90%;
}

.card:hover .text {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card:hover .icon {
  background-position: -120px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fda444d6;
}

.content a {
  text-decoration: none;
  margin-right: 70px;
}

.container .table > thead > tr > th {
  color: #fdad5f;
  font-size: 16px;
  font-family: cursive;
}
/*# sourceMappingURL=adminCards.css.map */